include AutomatonServer README
recursive-include Automaton *.py
recursive-include Automaton/lib *.py
recursive-include Automaton/settings *.conf.default
include Automaton/lib/automaton_thrift __init__.py
recursive-include Automaton/lib/automaton_thrift/python *.py
